

<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="bi bi-shield"></i>
      <div class="logo_name">Helios</div>
    </div>
    <i class="bi bi-list" (click)="sideBarButtonClick()" id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="bi bi-search"></i>
       <input type="text" placeholder="Search...">
    </li>
    <li>
      <a routerLink="customer">
        <i class="bi bi-person"></i>
        <span  class="links_name">Customer</span>
      </a>
      <span class="tooltip">Customer</span>
    </li>
    <li>
      <a routerLink="curiousCustomer">
        <i class="bi bi-person"></i>
        <span class="links_name">Curious Customer</span>
      </a>
      <span class="tooltip">Curious Customer</span>
    </li>
    <li>
      <a routerLink="foreignInvestor">
        <i class="bi bi-person-hearts"></i>
        <span class="links_name">Foreign Investor</span>
      </a>
      <span class="tooltip">Foreign Investor</span>
    </li>
    <li>
      <a routerLink="investor">
        <i class="bi bi-person-heart"></i>
        <span class="links_name">Investor</span>
      </a>
      <span class="tooltip">Investor</span>
    </li>
    <li>
      <a routerLink="possibleCustomer">
        <i class="bi bi-person-plus"></i>
        <span class="links_name">Possible Customer</span>
      </a>
      <span class="tooltip">Possible Customer</span>
    </li>
    <li>
      <a routerLink="routineService">
        <i class="bi bi-gear"></i>
        <span class="links_name">Routine Service</span>
      </a>
      <span class="tooltip">Routine Service</span>
    </li>
    <li>
      <a routerLink="session">
        <i class="bi bi-person-plus"></i>
        <span class="links_name">Session</span>
      </a>
      <span class="tooltip">Session</span>
    </li>
    
  </ul>
</div>
