<div class="mb-3">
    <label for="filterText" class="form-label"></label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama">
    <button class="btn btn-fill btn-dark" id="kanca" click="" routerLink="add">Add Curious Customer</button>
    </div>
    <div *ngIf="filterText">
    </div>
    <div id="table" style="overflow-x:auto;">
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th style="display: none;">Id</th>
            <th>Produc Id</th>
            <th>Curious Customer Name</th>
            <th>Curious Customer Last Name</th>
            <th>Curious Customer Phone Number</th>
            <th>Curious Customer EMail</th>
            <th>Curious Customer Address</th>
            <th>Curious Customer Company</th>
            <th>Curious Customer Position</th>
            <th>Curious Customer Note</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let curiousCustomer of curiousCustomers | filterPipeCurious:filterText">
        <td style="display: none;">{{curiousCustomer.id}}</td>
        <td>{{curiousCustomer.productId}}</td>
        <td>{{curiousCustomer.curiousCustomerName}}</td>
        <td>{{curiousCustomer.curiousCustomerLastName}}</td>
        <td>{{curiousCustomer.curiousCustomerPhoneNumber}}</td>
        <td>{{curiousCustomer.curiousCustomerEMail}}</td>
        <td>{{curiousCustomer.curiousCustomerAddress}}</td>
        <td>{{curiousCustomer.curiousCustomerCompany}}</td>
        <td>{{curiousCustomer.curiousCustomerPosition}}</td>
        <td>{{curiousCustomer.curiousCustomerNote}}</td>
        <td><button (click)="delete(curiousCustomer.id)" type="button" class="btn btn-dark">Delete</button></td>
        <td> 
            <button type="button " class="btn btn-dark" click="" routerLink="update/{{curiousCustomer.id}}">Update</button></td>
    </tr>
</tbody>
</table>
</div>